.jumbotron, .panel-primary>.panel-heading {
  background-color: #708090;
  color: #fff;
}

.jumbotron {
  padding: 30px 60px;
}

.panel-primary {
  border-color: #708090;
}

.link-button {
  margin-right: 20px;
}

.title, .save-button {
  display: inline-block;
}

.save-button {
  float: right;
  margin-top: 3px;
  margin-left: 10px;
}

.author, .date {
  color: gray;
  font-size: 12px;
}

footer {
  padding: 20px;
}